.239_437 { 
	overflow:hidden;
}.e239_437 { 
	background-color:rgba(218.87500405311584, 218.87500405311584, 218.87500405311584, 1);
	width:1440px;
	height:1063px;
	position:absolute;
}.e239_438 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
}.e239_550 { 
	width:96px;
	height:96px;
	position:absolute;
	left:40px;
	top:18px;
	background-image:url(images/group_10__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e239_442 { 
	color:rgba(0, 0, 0, 1);
	width:147px;
	height:60px;
	position:absolute;
	left:152px;
	top:36px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}.e239_443 { 
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:133px;
}.e239_444 { 
	background-image:linear-gradient(0deg, rgba(71.18749290704727, 177.79872179031372, 255, 1) 19.27083283662796%,rgba(137.06250607967377, 205.46625316143036, 255, 1) 100%) ;
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:0px;
}.e239_551 { 
	transform: rotate(6.556946037995349e-7deg);
	width:323px;
	height:310px;
	position:absolute;
	left:1118px;
	top:0px;
	background-image:url(images/mask_group_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e239_450 { 
	color:rgba(255, 255, 255, 1);
	width:519px;
	height:39px;
	position:absolute;
	left:88px;
	top:101px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e239_451 { 
	color:rgba(255, 255, 255, 1);
	width:618px;
	height:58px;
	position:absolute;
	left:88px;
	top:151px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e239_452 { 
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:443px;
}.e239_453 { 
	background-image:linear-gradient(0deg, rgba(29.719010889530182, 145.56249797344208, 122.39379599690437, 1) 19.27083283662796%,rgba(97.65702456235886, 181.68749392032623, 164.3018764257431, 1) 100%) ;
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:0px;
}.e239_552 { 
	width:400px;
	height:310px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/mask_group__1__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e239_457 { 
	color:rgba(255, 255, 255, 1);
	width:516px;
	height:39px;
	position:absolute;
	left:506px;
	top:116px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e239_458 { 
	color:rgba(255, 255, 255, 1);
	width:536px;
	height:29px;
	position:absolute;
	left:506px;
	top:166px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e239_459 { 
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:753px;
}.e239_460 { 
	background-image:linear-gradient(0deg, rgba(255, 191.05873346328735, 66.93749696016312, 1) 45.83333432674408%,rgba(255, 221.0349753499031, 134.9375081062317, 1) 100%) ;
	width:1440px;
	height:310px;
	position:absolute;
	left:0px;
	top:0px;
}.e239_553 { 
	width:370px;
	height:310px;
	position:absolute;
	left:1070px;
	top:0px;
	background-image:url(images/mask_group__2__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e239_505 { 
	color:rgba(255, 255, 255, 1);
	width:206px;
	height:39px;
	position:absolute;
	left:88px;
	top:64px;
	font-family:Montserrat;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e239_506 { 
	color:rgba(255, 255, 255, 1);
	width:606px;
	height:58px;
	position:absolute;
	left:88px;
	top:114px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e240_555 { 
	width:347px;
	height:57px;
	position:absolute;
	left:88px;
	top:198px;
}.e239_507 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.10000000149011612);
	background-color:rgba(255, 168.29999148845673, 0, 1);
	width:347px;
	height:57px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e239_508 { 
	color:rgba(255, 255, 255, 1);
	width:263px;
	height:29px;
	position:absolute;
	left:42px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e240_554 { 
	width:304px;
	height:50px;
	position:absolute;
	left:1095px;
	top:41px;
}.e239_509 { 
	background-color:rgba(0, 147.89998054504395, 255, 1);
	width:304px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:17px;
	border-top-right-radius:17px;
	border-bottom-left-radius:17px;
	border-bottom-right-radius:17px;
}.e239_510 { 
	color:rgba(255, 255, 255, 1);
	width:219px;
	height:24px;
	position:absolute;
	left:42px;
	top:13px;
	font-family:Montserrat;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}